<!DOCTYPE html>
  <html>
    <!--Header-->
    <head>
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Dancing+Script" />

      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Happy+Monkey" />

      <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900"
      rel="stylesheet" />

     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <meta charset="utf-8"> 

      <meta name="viewport" content="width=device-width, initial-scale=1"> 

      <link rel="icon" 
      type="image/png" 
      href="static/img/leaf.png">

      <title>Tammy Chang</title>
    </head>

<!-- End Header-->

<!--Navigation bar-->
<nav class="navbar navbar-default navbar-fixed-top topnav navbar-custom" role="navigation">
     <div class="container-fluid">
       <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand title" href="#">Tammy Chang</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right custom-nav">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
       </div>
     </div>
  </nav>
<!--End navigation bar-->

<!--End navigation bar-->
  <body>

    {% block content %}
    {% endblock %}
  </body>
</html>
