{% extends "base.html" %}

{% block content %}
<!--Start contact section-->

<section id="home" style="background-image: url(static/img/grass.jpg)">
  <div class="container-fluid container">
    <div class="row">
      <div class="col-xs-12 block2">
        <h1 class="mheader"> Tammy Chang </h1>
        <hr style="width:60%;">
        <h3 class="headline"> Full Stack Developer I Technology Enthusiast I Seattle, WA</h3>
      </div>
    </div>
</section>
<!--End home section-->

<!--About section with photo-->

<section id="about">
  <div class="container-fluid">
        <div class="row">
      <div class="col-xs-12">
        <h2>About Me:</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <p>I’m a Software Developer who is passionate about learning and giving back to the community. I started teaching myself how to code a little over a year ago when I stumbled across FCC, an online resource that teaches web development . I enjoyed learning how to code and coming up with creative solutions to algorithm scripting challenges. Wanting to learn more, I decided to enroll in LaunchCode’s lc101 program to further develop my technical skills and obtain valuable guidance with their mentorship. I aspire to pursue a career in software development to create new tools to benefit society while serving as a positive role model for young women.</p>
      </div>
      <div class="col-xs-4 text-center">
        <p><img class="img-circle img-responsive img-thumbnail" src="static/img/tammy.jpg"></p>

      </div>
    </div>
  </div>
</section>
<!--End about section with photo-->

<!-- start portfolio section-->
<section id="portfolio">
  <div class="container-fluid">
        <div class="row">
      <div class="col-xs-12">
        <h2>Portfolio:</h2>
      </div>
    </div>
  <div class="row" style="margin:10px;">
      <div class="col-sm-4">
          <h4>MatchFour</h4>
          <a href="https://github.com/jharkreader/match-four">
              <img class="img-fluid img-profile mx-auto mb-2" src="static/img/m4.jpg" alt="MatchFour">
          </a>
          <p>A web-based puzzle game where users have to correctly guess a secret code.</p>
      </div>
      <div class="col-sm-4">
          <h4>Weather Report</h4>
          <a href="https://github.com/ctam91/weather-report">
              <img class="img-fluid img-profile mx-auto mb-2" src="static/img/weather.jpg" alt="Weather">
          </a>
          <p>A web app that displays weather using Wunderground API.</p>
      </div>
      <div class="col-sm-4">
          <h4>Cheeses</h4>
          <a href="https://github.com/ctam91/cheese-mvc-persistent">
              <img class="img-fluid img-profile mx-auto mb-2" src="static/img/cheeses.jpg" alt="Cheeses">
          </a>
          <p>A web app that allows users to update a database about cheeses.</p>
      </div>
  </div>
  <br/>
  <div class="row" style="margin:10px;">
      <div class="col-sm-4">
          <h4>Blogz</h4>
          <a href="https://github.com/ctam91/blogz">
          <img class="img-fluid img-profile mx-auto mb-2" src="static/img/blogz.jpg">
          </a>
          <p>A web app that displays blog posts on a main page and allows users to add new blog posts.</p>
      </div>
      <div class="col-sm-4">
          <h4 style>Miwok</h4>
          <a href="https://github.com/ctam91/Miwok">
              <img class="img-fluid img-profile mx-auto mb-2" src="static/img/family.jpg" alt="Miwok">
          </a>
          <p>An Android app that helps users to learn the Miwok language.</p>
      </div>
      <div class="col-sm-4">
          <h4>Quake Report</h4>
          <a href="https://github.com/ctam91/quake-report">
              <img class="img-fluid img-profile mx-auto mb-2" src="static/img/earthquake.jpg" alt="Earthquake">
          </a>
          <p>An Android app that displays a list of recent earthquakes in the world.</p>
      </div>
  </div>
    </div>
</section>
<!--End portfolio section-->

<!--Start contact section-->
<section id="contact">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-xs-12 ">
        <h2> Contact:</h2>
                  <p style="color:black; font-weight:bold; padding-top:10px;"> Email me at     <a href="mailto:ctam91@gmail.com?Subject=Hello%20again">ctam91@gmail.com</a> or find me on Social Media!</p>
        <div class="btnlist">
          <a href="https://github.com/ctam91"><img src="https://cdn2.iconfinder.com/data/icons/social-icons-circular-black/512/github-64.png"></a>
          <a href="https://tammychang247.wordpress.com/"><img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/26-wordpress-64.png"></a>
          <a href="https://www.instagram.com/_tammychang/"><img src="https://cdn4.iconfinder.com/data/icons/miu/24/circle_social-instagram-outline-stroke-64.png"></a>
          
        </div>
      </div>
    </div>
  </div>
  
    <footer>
    <p class="custom-footer"> Coded and Written by<a href="https://codepen.io/ctam91/"> Tammy Chang.</a></p>
  </footer>
</section>

<!--End contact section-->

{% endblock %}