{% extends "blog_base.html" %}

{% block content %}
    <div class="container">
        <h1>My Blog</h1>
    </div>
    <div class = "container">
        <form method='post'>
            <label>Title for your new blog:</label>
            <input class='table' type='text' name='title' value='{{ title }}' />

            <label>Your New Blog:</label>
                <textarea class='table' name="body">{{ body }}</textarea>
            <input type="submit" value='Publish' />
        </form>
    </div>



{% endblock %}