{% extends "blog_base.html" %}

{% block content %}

<div class="container">
    <h2>New Post</h2>
</div>

<form method='post'>
    <div class = "container">
        <label>Title for your new blog:</label>
        <input class='table' type='text' name='title' value='{{ title }}' />
    </div>
    <br />
    <div class="container">
        <label>Your New Entry:</label>
            <textarea class='table' name="body">{{ body }}</textarea>
        <input type="submit" value='Publish' />
    </div>
</form>


{% endblock %}